*.symbols
*.substvars
/files
/libcef*/
/libcef*-dev/
/libcefd*/
/tmp/
*.log
/debhelper-build-stamp
/.debhelper/
/libcef*-dev.links
/libcef*.install
/libcefd*.install
/libcef*-dev.README.Debian
/libcef*-dev.install
/README.Debian
/control
